[Desktop Entry]
Version=1.0
Type=Application
Name=chili-iso2usb
GenericName=Chili Iso2usb Util
Comment=Utility to write iso file to pendrive/device
Exec=sudo /opt/chili-iso2usb/chili-iso2usb %F
Terminal=false
MimeType=text/plain;
Icon=/opt/chili-iso2usb/pendrive.png
Categories=Settings;DesktopSettigns;Utility;Accessories;Chili Apps;
StartupNotify=true
