[Desktop Entry]
Version=1.0
Type=Application
Name=iso2usb
GenericName=Iso2usb Util
Comment=Utility to write iso file to pendrive/device
Exec=sudo /opt/iso2usb/iso2usb %F
Terminal=false
MimeType=text/plain;
Icon=/opt/iso2usb/pendrive.png
Categories=Utility;Accessories;
StartupNotify=true
Actions=Window;Document;
