[Desktop Entry]
Version=1.0
Type=Application
Name=Chili iso2usb
GenericName=Chili Iso2usb Util
Comment=Utility to write iso file to pendrive/device
Exec=sudo /opt/iso2usb/src/iso2usb %F
Terminal=false
MimeType=text/plain;
Icon=/opt/iso2usb/src/pendrive.png
Categories=Utility;Accessories;
StartupNotify=true
Actions=Window;Document;
